<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="message" class="denys.event_handling.Message">
        <property name="message" value="My message"/>
    </bean>

    <bean id="myStartEventHandler" class="denys.event_handling.MyStartEventHandler"/>
    <bean id="myStopEventHandler" class="denys.event_handling.MyStopEventListener"/>

</beans>